<% 
var totalPages = Math.ceil(totalRecords / pageSize);
var pageLinkStart = Math.max(1, currentPage - 2);
var pageLinkEnd = Math.min(totalPages, currentPage + 2);
%>

<nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
  <ul class="pagination">
    <% if (currentPage > 1) { %> 
    <li class="page-item">
      <a class="page-link" href="/dashboard/brand/<%= (currentPage - 1) %>"><i class="ci-arrow-left me-2"></i>Prev</a>
    </li>
    <% } %>
  </ul>
  <ul class="pagination">
    <li class="page-item d-sm-none">
      <span class="page-link page-link-static">1 / 5</span>
    </li>
    <% for (let i = pageLinkStart; i <= pageLinkEnd;  i++) { %>
    <li class="page-item d-none d-sm-block <%= currentPage == i ? 'active': '' %>" aria-current="page">
      <a class="page-link" href="/dashboard/brand/<%= i %>"
        ><%= i %><span class="visually-hidden"><%= i %></a></span
      >
    </li>
    <% } %>
  </ul>
  <ul class="pagination">
    <% if (currentPage < totalPages) { %>
    <li class="page-item">
      <a class="page-link" href="/dashboard/brand/<%= (currentPage + 1) %>" aria-label="Next"
        >Next<i class="ci-arrow-right ms-2"></i
      ></a>
    </li>
    <% } %>
  </ul>
</nav>
