<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>TastyGo | Food Delivery Service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
        <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
        <link rel="stylesheet" media="screen" href="css/theme.min.css">
        <link rel="stylesheet" media="screen" href="css/jquery-toast.css">
        <script src="js/jquery.js"></script>
        <script src="js/ajax.js"></script>
        <script src="js/jquery-toast.js"></script>
        <script src="js/tastygo.toast.js"></script>
        <script src="js/jquery-validation.js"></script>
    </head>

    <body class="handheld-toolbar-enabled">

        <main class="page-wrapper">
            <%- include('../partials/header') %>
            <!-- Hero section-->
            <section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-10" style="background-image: url(img/food-delivery/hero-bg.jpg);">
                <div class="container pb-5">
                    <div class="row justify-content-center pb-5">
                        <div
                            class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
                            <h5 class="text-light fw-light"><%= labels.LBL_ACCHIVEMENT %></h5>
                            <div class="h1 text-light mb-3 pb-4">
                                <%= labels.LBL_BANNER_TEXT %>
                                <div class="dropdown d-inline-block ms-1">
                                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown">New York</a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item fs-base" href="#">Los Angeles</a>
                                        <a class="dropdown-item fs-base" href="#">Chicago</a>
                                    </div>
                                </div>
                            </div><a class="btn btn-primary" href="#cuisine" data-scroll><%= labels.LBL_WHAT_DO_EAT %></a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Categories (cuisine) grid-->
            <section class="container py-4 my-lg-3 py-sm-5" id="cuisine">
                <h2 class="text-center pt-4 pt-sm-3"><%= labels.LBL_TRENDING_HEADING %></h2>
                <p class="text-muted text-center mb-5"><%= labels.LBL_TRENDING_SUB_HEADING %></p>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-grid-gutter">
                        <a class="card border-0 shadow" href="food-delivery-category.html">
                            <img class="card-img-top" src="img/food-delivery/category/01.jpg" alt="Burgers &amp; Fries">
                            <div class="card-body py-4 text-center">
                                <h3 class="h5 mt-1">Burgers &amp; Fries</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Mobile app CTA-->
            <section class="bg-primary bg-size-cover bg-position-center pt-5" style="background-image: url(img/food-delivery/mobile-app-bg.jpg);">
                <div class="container pt-2 pt-sm-0">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-5 col-sm-6 offset-xl-2 offset-lg-1 mt-md-n5 text-center text-sm-start">
                            <h2 class="text-light mb-3"><%= labels.LBL_APP_COMING %></h2>
                            <p class="text-light opacity-70 mb-0 d-block d-sm-none d-md-block"><%= labels.LBL_APP_COMING_DESC %></p>
                            <div class="mt-4 pt-2">
                                <a class="btn-market btn-apple me-3 mb-2" href="#" role="button">
                                    <span class="btn-market-subtitle">Download on the</span>
                                    <span class="btn-market-title">App Store</span>
                                </a>
                                <a class="btn-market btn-google mb-2" href="#" role="button">
                                    <span class="btn-market-subtitle">Download on the</span>
                                    <span class="btn-market-title">Google
                                    Play</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6 offset-lg-1 pt-5 pt-sm-3">
                            <img class="d-block mx-auto mx-sm-0" src="img/food-delivery/phone.png" width="331" alt="Mobile App Screen">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Become Courier / Partner CTA-->
            <section class="container pb-4 pt-lg-5 pb-sm-5">
                <div class="row pt-4 mt-2 mt-lg-3 mb-md-2">
                    <div class="col-lg-6 mb-grid-gutter">
                        <div class="d-block d-sm-flex justify-content-between align-items-center bg-faded-info rounded-3">
                            <div class="pt-5 py-sm-5 px-4 ps-md-5 pe-md-0 text-center text-sm-start">
                                <h2><%= labels.LBL_BECOME_COURIER %></h2>
                                <p class="text-muted pb-2"><%= labels.LBL_BECOME_COURIER_TEXT %></p>
                                <a class="btn btn-primary" href="#"><%= labels.LBL_START_EARNING %></a>
                            </div>
                            <img class="d-block mx-auto mx-sm-0" src="img/food-delivery/courier.png" width="272" alt="Become a Courier">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-grid-gutter">
                        <div class="d-block d-sm-flex justify-content-between align-items-center bg-faded-warning rounded-3">
                            <div class="pt-5 py-sm-5 px-4 ps-md-5 pe-md-0 text-center text-sm-start">
                                <h2><%= labels.LBL_BECOME_PARTNER %></h2>
                                <p class="text-muted pb-2"><%= labels.LBL_BECOME_PARTNER_TEXT %></p>
                                <a class="btn btn-primary" href="#"><%= labels.LBL_PARTNER_WITH_US %></a>
                            </div>
                            <img class="d-block mx-auto mx-sm-0" src="img/food-delivery/chef.png" width="269" alt="<%= labels.LBL_BECOME_PARTNER %>">
                        </div>
                    </div>
                </div>
            </section>
            <!-- Popular restaurants logo grid-->
            <section class="container pb-4 pt-2 pt-sm-0 pt-md-2 pb-sm-5">
                <h2 class="text-center"><%= labels.LBL_RESTURANT_HEADING %></h2>
                <p class="text-muted pb-4 text-center"><%= labels.LBL_RESTURANT_SUB_HEADING %></p>
                <div class="row pb-2 pb-sm-0 pb-md-3">
                    <div class="col-md-3 col-sm-4 col-6">
                        <a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="food-delivery-single.html">
                            <img class="d-block mx-auto" src="img/food-delivery/restaurants/logos/01.png" style="width: 150px;" alt="Brand">
                        </a>
                    </div>
                </div>
            </section>
            <!-- Reviews-->
            <section class="bg-secondary py-5">
                <div class="container py-md-4 pt-3 pb-0 py-sm-3">
                    <h2 class="text-center mb-4 mb-md-5"><%= labels.LBL_CUSTOMER_REVIEWS %></h2>
                    <div class="tns-carousel mb-3">
                        <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;:20}, &quot;576&quot;:{&quot;items&quot;:2, &quot;gutter&quot;:20},&quot;850&quot;:{&quot;items&quot;:3, &quot;gutter&quot;:20},&quot;1080&quot;:{&quot;items&quot;:4, &quot;gutter&quot;:25}}}">
                            <blockquote class="mb-2">
                                <div class="card card-body fs-md text-muted border-0 shadow-sm">
                                    <div class="mb-2">
                                        <div class="star-rating">
                                            <i class="star-rating-icon ci-star-filled active"></i>
                                            <i class="star-rating-icon ci-star-filled active"></i>
                                            <i class="star-rating-icon ci-star-filled active"></i>
                                            <i class="star-rating-icon ci-star-filled active"></i>
                                            <i class="star-rating-icon ci-star"></i>
                                        </div>
                                    </div>
                                    Lorem ipsum dolor sit amet, quia non
                                    consectetur adipiscing elit, sed do
                                    eiusmod
                                    tempor incididunt ut labore et dolore magna
                                    aliqua.
                                </div>
                                <footer class="d-flex justify-content-center align-items-center pt-4">
                                    <img class="rounded-circle" src="img/testimonials/03.jpg" width="50" alt="Richard Davis">
                                    <div class="ps-3">
                                        <h6 class="fs-sm mb-n1">Richard Davis</h6>
                                        <span class="fs-ms text-muted opacity-75"> Feb 14, 2020</span>
                                    </div>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('../partials/footer') %>

        <!-- Toolbar for handheld devices (Food delivery)-->
        <div class="handheld-toolbar">
            <div class="d-table table-layout-fixed w-100">
                <a class="d-table-cell handheld-toolbar-item" href="#signin-modal" data-bs-toggle="modal">
                    <span class="handheld-toolbar-icon">
                        <i class="ci-user"></i>
                    </span>
                    <span class="handheld-toolbar-label">Account</span>
                </a>
                <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                    <span class="handheld-toolbar-icon">
                        <i class="ci-menu"></i>
                    </span>
                    <span class="handheld-toolbar-label">Menu</span>
                </a>
                <a class="d-table-cell handheld-toolbar-item" href="food-delivery-cart.html">
                    <span class="handheld-toolbar-icon">
                        <i class="ci-cart"></i>
                        <span class="badge bg-primary rounded-pill ms-1">3</span>
                    </span>
                    <span class="handheld-toolbar-label">$24.00</span>
                </a>
            </div>
        </div>
        <!-- Back To Top Button-->
        <a class="btn-scroll-top" href="#top" data-scroll>
            <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
            <i class="btn-scroll-top-icon ci-arrow-up"></i>
        </a>
        <%- include('partials/auth-modal') %>
        <!-- Vendor scrits: js libraries and plugins-->
        <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/simplebar/dist/simplebar.min.js"></script>
        <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
        <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
        <!-- Main theme script-->
        <script src="js/theme.min.js"></script>
    </body>

</html>